@charset "UTF-8";

body{
    background-color: white;
    color: rgba(0, 0, 0, 1);
}
p{
    text-align: justify;
    text-indent: 50px;
}

/* Formatação de imagens com legendas */
figure.fotoLegenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
}
figure.fotoLegenda img{
    width: 100%;
    height: 100%;
}
figure.fotoLegenda figcaption{
    opacity: 0%;
    position: absolute;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10%;
    box-sizing: border-box;
    transition: opacity 1s;
}
figure.fotoLegenda:hover figcaption{
    opacity: 100%;
}

