@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Lora&display=swap');

body{
    background-color: rgb(228, 228, 228);
    color: rgba(0, 0, 0, 1);

}
body h1{
    text-shadow: 1px 1px 3px black;
    color: rgb(31, 105, 59);
}
body h2{
    text-shadow: 1px 1px 3px black;
    color: rgb(31, 105, 59);
}
body h3{
    text-shadow: 1px 1px 3px black;
    color: rgb(31, 105, 59);
}
body p{
    color: rgb(4, 58, 23);

}
div#interface{
    width: 800px;
    background-color: rgb(203, 236, 195);
    margin: 60px auto 10px auto;
    box-shadow: 0px 0px 10px black;
    padding: 30px;
}
p{
    text-align: justify;
    text-indent: 50px;
    font-family: 'IM Fell English SC', serif;
    font-family: 'Lora', serif;
}
header#cabecalho img#icone{
    position: absolute;
    left: 800px;
    top: -30px;
}
header#cabecalho {
    border-bottom: 1px black solid;
    
}
header#cabecalho h1{
    font-family: 'Frijole', cursive;
    font-size: 30px;
    color: darkgreen;
    text-shadow: 1px 1px 1px rgb(30, 31, 31);
    padding: 0px;
    margin-bottom: 0px;
}
header#cabecalho h2{
    color: darkgreen;
    text-shadow: 1px 1px 10px rgb(11, 12, 12);
    padding: 0px;
    margin-top: 0px;
    font-family: 'Bungee Shade', cursive;
}


/* Formatação de imagens com legendas */
figure.fotoLegenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
}
figure.fotoLegenda img{
    width: 100%;
    height: 100%;
}
figure.fotoLegenda figcaption{
    opacity: 0%;
    position: absolute;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10%;
    box-sizing: border-box;
    transition: opacity 1s;
}
figure.fotoLegenda:hover figcaption{
    opacity: 100%;
}
nav#menu {
    
    display: block;
}
nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: relative;
    top: -10px;
    left: auto;
}
nav#menu li{
    display: inline-block;
    background-color: rgb(110, 201, 118);
    padding: 10px;
    margin: 1px;
    transition: background-color 1s;
    
}
nav#menu li:hover{
    background-color: rgb(97, 97, 97);
}
nav#menu h1{
    display: none;
}
nav#menu a{
    color: rgb(18, 105, 11);
    text-decoration: none;
}
nav#menu a:hover{
    color: cornsilk;

}

